@{
    Layout = null;
}

<html>
<head>
    <title>底部</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <base target="main">
    @Html.StyleSheet("menu/common.css")
</head>
<body>
    <div class="foot">
        <p>版权所有  &reg;101外卖网</p>
    </div>
</body>
</html>
