@charset "utf-8";
/*reset css*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, input, select {
    margin: 0;
    padding: 0;
}

fieldset, img, input {
    border: 0;
}

:focus {
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

body {
    line-height: 1.5;
    font-size: 12px;
    font-family: "宋体", arial, sans-serif;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:link, :visited {
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.inline_block {
    display: inline-block;
    zoom: 1;
    *display: inline;
    _display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.text-left {        
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pad-6 {
    padding: 6px 0;
}

.back-fff {
    background: #fff;
}

.border_none, .border_none tr, .border_none tr td {
    border: 0!important;
    margin-top: 12px;
}

.border, .border tr, .border tr td {
    border: 1px solid #dddfe0!important;
    margin-top: 12px;
}

.margin-3 {
    margin-top: 23px;
}

.margin-12 {
    margin-top: 12px;
}

.padding-l-5 {
    padding-left: 5px;
}

.padding-r-5 {
    padding-right: 5px;
}

.text-indent-14 {
    text-indent: 14px;
}

.text-indent-24 {
    text-indent: 24px;
}

.text-indent-2 {
    text-indent: 2px;
}

.margin-right-0 {
    margin-right: 0!important;
}

.width-40 {
    width: 40px;
}

.width-60 {
    width: 60px;
}

.width-80 {
    width: 80px;
}

.width-100 {
    width: 100px;
}

.width-120 {
    width: 120px;
}

.width-td {
    width: 152px;
}

.width-200 {
    width: 200px;
}

.width-250 {
    width: 250px;
}

.margin-0 {
    margin: 0 auto!important;
}
/*头部*/
.head_bg {
    background: url(../../Content/menu/img/header_c.png) repeat-x;
    height: 88px;
    overflow: hidden;
}

.head_logo {
    background: url(../../Content/menu/img/header_l.png) no-repeat;
    width: 497px;
    height: 88px;
    float: left;
}

.head_list {
    background: url(../../Content/menu/img/header_r.png) no-repeat;
    width: 504px;
    height: 88px;
    float: right;
}

    .head_list ul {
        position: absolute;
        right: 0;
        top: 4px;
    }

        .head_list ul li {
            float: left;
        }

            .head_list ul li a {
                color: #fff;
            }

.cancellation {
    background: url(../../Content/menu/img/icon_4.png) no-repeat;
    padding-left: 18px;
    margin-right: 20px;
}

.quite {
    background: url(../../Content/menu/img/icon_5.png) no-repeat;
    padding-left: 18px;
    margin-right: 20px;
}

.quite-lefthelp {
    background: url(../../Content/menu/img/icon_2.png) no-repeat;
    padding-left: 18px;
    margin-right: 20px;
}

/*地图顶部*/
.user_bg {
    background: url(../../Content/menu/img/user_bg.png);
    height: 25px;
    color: #154084;
    line-height: 25px;
    border: 1px solid #cccccc;
    width: 100%;
    font-size: 12px;
}

    .user_bg p {
        margin-left: 40px;
    }
/*边栏样式*/
.map {
    position: relative;
}

.wrap {
    width: 100%;
}

.panel_view {
    width: 440px;/*500px;*/
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 99;
}

.panel_content {
    float: left;
    width: 420px;/*480px;*/
    height: 100%;
    background: #d2e7ef;
    border-right: 1px #b1ccda solid;
    position: relative;
    box-shadow: 2px 0 3px rgba(0, 0, 0, .5);
    z-index: 99;
}

.panel-tip {
    background: #f9fffe;
    padding-top: 4px;
    margin: 4px auto 0;
    width: 410px;/*470px;*/
    border: 1px solid #b1ccda;
}

.panel_select {
    background: #fff;
    margin: 4px auto;
    padding: 4px;
    border: 1px solid #e5f3f4;
    width: 390px; /*450px;*/
}

    .panel_select select {
        height: 25px;
        line-height: 25px;
    }

        .panel_select select.sort {
            width: 54px;
        }

        .panel_select select.length {
            width: 72px;
        }

.panel_tab, .panel_tab tr, .panel_tab tr td {
    border: 1px solid #dddfe0;
}

    .panel_tab tr td {
        height: 24px;
        line-height: 24px;
    }

    .panel_tab tbody tr td {
        padding: 1px 0;
    }

tr.top {
    background: url(../../Content/menu/img/tr.top.png) repeat-x;
    height: 28px;
    line-height: 28px;
}
tr.top {
    background: url(../../Content/menu/img/tr.top.png) repeat-x;
    height: 28px;
    line-height: 28px;
}
.top_1 {
    background:#a0cbf7;
}


#panel_toggle {
    width: 17px;
    height: 65px;
    background: url(../../Content/menu/img/openclose.png);
    display: block;
    float: right;
    position: relative;
    top: 50%;
    left: 0;
    margin-top: -50px;
}

.red {
    color: red;
}

.BMap_stdMpCtrl {
    left: 200px;
}
/*左中右 框架背景*/
.left_body {
    background-color: #d2e7ef;
    padding: 2px;
}

.center_body {
    background-color: #fcfcfc;
    overflow: hidden;
}

.right_body {
    background-color: #f4f9fc;
}
/*框架显示隐藏*/
.slider_line {
    border: 1px solid #b1ccda;
    width: 12px;
    margin: 0 auto;
}

.slider_toggle {
    width: 17px;
    height: 48px;
    background: url(../../Content/menu/img/slider_toggle.png) no-repeat;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -48px;
}
/*分页菜单*/
.l_nav {
    width: 170px;
    border: 1px solid #b1ccda;
    margin: 4px auto;
    padding: 2px;
    background: url(../../Content/menu/img/left_nav_bg.png) repeat-y #fff;
}

.l_nav_top {
    width: 100%;
    padding: 4px 0;
}

.l_nav_bottom {
    width: 100%;
    background: url(../../Content/menu/img/left_nav_bottom.png) repeat-y;
    height: 80px;
}

.menu_icon_name {
    background: url(../../Content/menu/img/title_1.png) no-repeat;
    color: #fff;
    height: 28px;
    width: 161px;
    line-height: 28px;
    margin: 0 auto;
}

ul.l_nav_list li {
    background: url(../../Content/menu/img/title_2.png) no-repeat;
    margin: 6px auto;
    height: 28px;
    width: 161px;
    line-height: 28px;
    text-align: center;
}
ul.l_nav_list_1 li
{     
    background: url(../../Content/menu/img/title_3.png) no-repeat;
    margin: 6px auto;
    height: 28px;
    width: 141px;
    line-height: 28px;
    text-align: center;
      }
.hosty, .appraisal,.folder {
    padding-left: 20px;
    color: #000;
}

.nav_visited {
    color: #fd4a04;
}

.hosty {
    background: url(../../Content/menu/img/icon_2.png) no-repeat;
}

.appraisal {
    background: url(../../Content/menu/img/icon_3.png) no-repeat;
}
.folder {
    background: url(../../Content/menu/img/folder.png) no-repeat;
}

/*分页右侧*/
.search_if {
    border: 1px solid #7f9db9;
    width: 140px;
    margin-left: 2px;
    height: 24px;
    line-height: 24px;
}

/*分页右侧*/
.search_if_None {
    border: 0 solid #000;
    width: 98%;
    height: 100%;
    line-height: 22px;
    margin-left: 2px;
}

.search_if_1 {
    width: 96%;
}

.search_if_hm {
    border: 1px solid #7f9db9;
    width: 40px;
    margin-left: 2px;
    height: 24px;
    line-height: 24px;
}

.textarea_height {
    height: 120px;
}

.right_body_line {
    padding: 20px;
}

.tip_td {        
    font-weight:600;
    border: 1px solid #7f9db9;
    background: #adddf7!important;
    padding-left: 20px;
}

.wrap_td {
    background: #f6fafc!important;
}

    .wrap_td td {
        padding-top: 10px!important;
    }
/*八部走链接背景*/
.leadnav1, .leadnav1_active, .leadnav2, .leadnav2_active {
    display: inline-block;
    line-height: 25px;
    height: 25px;
    width: 115px;
    font-family: Arial;
    color: #fff;
    text-align: center;
}

.table_title_left {
    padding-left: 20px!important;
}
/*操作按钮*/
.btn_list {
    width: 96%;
    margin: 16px auto;
    height: 25px;
}

.search_info, .add_hosty, .dele_hosty, .save_hosty, .back_hosty, .extract, .extract_all, .undo, .undo_all,.pre_step, .next_step, .cancel, .complete, .dele_all {
    cursor: pointer;
    width: 70px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
}

.btn_upload, .btn_down {
    width: 110px;
    height: 30px;
    cursor: pointer;
    background: #4096ee;
    border: 1px solid #085db4;
}

.change {
    height: 24px;
    cursor: pointer;
    background: #4096ee;
    border: 1px solid #085db4;
    padding: 2px 10px;
    color:white;
}

.div_button {
    margin: 10px auto 10px;
    width: 96%;
}
/*spinner*/
.ui-spinner {
    position: relative;
}

.ui-spinner-buttons {
    position: absolute;
}

.ui-spinner-button {
    overflow: hidden;
}
/*分页链接 操作 颜色*/
.link_red, .link_green, .link_org {
    margin-right: 12px;
}

.link_blue {
    color: #052ab6;
}

.link_red {
    color: #fb0c28;
}

.link_green {
    color: #0e9111;
}

.link_org {
    color: #b87305;
}

.link_black {
    color: #000;
}
/*分页*/
.pageNav {
    color: #999999;
    line-height: 37px;
    width: 96%;
    margin: 2px auto;
    height: 40px;
    text-align: right;
}

    .pageNav a, .pageNav strong, #pageNav span, .pageNav a, .pageNav strong, .pageNav span {
        background: none repeat scroll 0 0 #FFFFFF;
        text-decoration: none;
        border: 1px solid #D6D6D6;
        display: inline-block;
        line-height: 1.231;
        margin: 7px 3px 0;
        overflow: hidden;
        padding: 3px 7px;
        vertical-align: middle;
        color: #808080;
    }

    .pageNav strong, .pageNav strong {
        background: none repeat scroll 0 0 transparent;
        border: 0 none;
        color: #333333;
    }
/*jquery ui dialog*/
.ui-dialog .ui-dialog-content {
    padding: 0!important;
}
/*jquery ui timepicker*/
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

    .ui-timepicker-div dl dt {
        float: left;
        clear: left;
        padding: 0 0 0 5px;
    }

    .ui-timepicker-div dl dd {
        margin: 0 10px 10px 40%;
    }

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

    .ui-timepicker-rtl dl {
        text-align: right;
        padding: 0 5px 0 0;
    }

        .ui-timepicker-rtl dl dt {
            float: right;
            clear: right;
        }

        .ui-timepicker-rtl dl dd {
            margin: 0 40% 10px 10px;
        }
/*首页底部*/
.foot {
    width: 100%;
    background: #b2d4e8;
    text-align: right;
    height: 24px;
    line-height: 24px;
    border: 1px solid #b1c5da;
    color: #154084;
    position: absolute;
    bottom: 0;
}

    .foot p {
        margin-right: 20px;
    }
